<h2></h2>
<form action="/celebrities/create" method="post">

<div>
    <label for="Name">Name:</label>
    <input type="text" name="name">
</div>

<div>
    <label for="Occupation">Occupation</label>
    <input type="text" name="occupation">
</div>

<div>
    <label for="catchPhrase">Catch Phrase</label>
    <input type="text" name="catchPhrase">
</div>
<button>Submit</button>
</form>